@import '../variables.scss';

// menu
.menu-button {
  width: 46px;
  height: 36px;
  position: fixed;
  top: 30px;
  right: 45px;
  z-index: 100;
  cursor: pointer;
}
.menu-button-active {
    &>.menu-button-line:first-child {
        transform: translateY(9px) translateX(1px) rotateZ(45deg);
    }
    &>.menu-button-line:nth-child(2) {
        transform: scale(0);
    }
    &>.menu-button-line:last-child {
        transform: translateY(-10px) translateX(-1px) rotateZ(-45deg);
    }
}
.menu-outer-active {
    transition: all .4s;
    transform: rotateX(0deg);
}
.menu-button-line {
  height: 3px;
  width: 30px;
  background: rgba(255,255,255,0.8);
  transform-origin: center top;
  transition: all .4s;
}

// parallax
.parallax-container {
    perspective: 1px;
    transform-style: preserve-3d;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.parallax-one {
    display: block;
    position: relative;
}

.parallax-two {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    // background: linear-gradient(to top, red, orange);
    height: 150vh;
}

