<menu-nav [class.menu-outer-active]="menu"></menu-nav>
<!-- <header class="header-top" [@headerTopCollapse]="headerTopCollapsed"></header> -->
<div (click)="menu = !menu" [class.menu-button-active]="menu" class="menu-button d-flex flex-column justify-content-around align-items-center py-1">
  <div class="menu-button-line"></div>
  <div class="menu-button-line"></div>
  <div class="menu-button-line"></div>
</div>

<div class="parallax-container" scroll-event>
  <div class="parallax-one">
    <router-outlet></router-outlet>
  </div>
  <div class="parallax-two"></div>
</div>
