<section id="page-one" class="page">
    <h1 id="motto">
        Limitations defied.
        <br>Quality delivered.
    </h1>
    <p id="slogan">We cut through rocks, not with power but persistence.</p>
    <div class="row pl-5">
        <div id="book-now" class="ml-3">
            <input type="button" class="inside-button" value="Book Now" />
            <div class="shadow-div"></div>
        </div>
        <div class="learn-more ml-5">
            <input type="button" class="inside-button" value="Learn More" />
            <div class="shadow-div"></div>
        </div>
    </div>
    <div class="row short-desc">
        <div class="col-4">
            Best quality in market guaranteed with affordable price long with a prompt delivery nationally or overseas.
        </div>
        <div class="col-4">
            Raw materials of best quality is used, imported from international markets and produced through international standardized
            manufacturing methods.
        </div>
        <div class="col-4">
            Please visit our technical documentation for more information
            <div class="know-more mt-3">
                <input type="button" class="inside-button" value="Know More" />
                <div class="shadow-div"></div>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center mt-5">
        <span id="geo-label">Locate us:&nbsp;</span>
        <span id="geo-location">40° 26? 46? N&nbsp;-&nbsp;79° 58? 56? W</span>
    </div>
</section>
<section id="page-two" class="page">
    <div id="parallelogram-holder" class="d-flex flex-row">
        <div *ngFor="let parallel of parallelogram; let idx = index" class="parallelogram" (hover)="selectProduct(idx)" [style.background]="'url(' + parallel + ')'"></div>
    </div>
    <div class="parallelogram-info">
        <h3></h3>
        <wave-button>
            <i class="fas fa-info"></i>
        </wave-button>
    </div>
</section>
<section id="page-three" class="page d-flex flex-column">
    <div class="card-holder d-flex justity-content-around align-items-center">
        <card-x [ImgSrc]="'/assets/img/' + cardImgUrls[0]">
            <div class="card-content"></div>
        </card-x>
        <card-x [ImgSrc]="'/assets/img/' + cardImgUrls[1]">
            <div class="card-content"></div>
        </card-x>
        <card-x [ImgSrc]="'/assets/img/' + cardImgUrls[2]">
            <div class="card-content"></div>
        </card-x>
        <card-x [ImgSrc]="'/assets/img/' + cardImgUrls[3]">
            <div class="card-content"></div>
        </card-x>
    </div>
    <footer class="row">
        <article class="query-form col-5">
            <mat-form-field>
                <input matInput placeholder="Name" />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="E-Mail" />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="" />
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Comments / Queries" matTextareaAutosize matAutosizeMinRows="2"
                          matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </article>
        <div class="col-7"></div>
    </footer>
</section>